body {
    padding: 50px;
    height: 530px;
    background-color: #ffffff;
    font-family: sans-serif;
}

#container{
    display: flex;
    justify-content: flex;
}

#title{
    display: flex;
    justify-content: flex;
    font-family: sans-serif;
    color: #695E5B;
}


